.plant-container {
  width: 85%;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1px;
}

.plant-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 150px;
  text-align: center;
}

.plant-emoji {
  font-size: 40px;
  margin: 0;
}
